
.banner{
    margin: 20px auto;
    width: 1200px;
    height: 1000px;
    position: relative;
}

/*banner-A-推广*/
.banner-a{
    position: absolute;
    display: inline-block;/*行内块  text-align 可以让行内块居中对齐*/
    left: 0px;
    top: 0px;
    width: 750px;
    height: 422px;
    background-color: #000;
    opacity: 0.7;/* opacity 对除IE浏览器以外所有浏览器生效 透明的:70% */
}
@media all and (max-width:960px){
.banner-a{
    display: none;
}
.banner-b{
    position: absolute;
    display: inline-block;/*行内块  text-align 可以让行内块居中对齐*/
    right: 0px;
    top: 0px;
    width: 430px;
    height: 422px;
    background-color: #000;
    text-align: center;
    opacity: 0.7;/* opacity 对除IE浏览器以外所有浏览器生效 透明的:70% */
}
}
/*banner-B-信息*/
.banner-b{
    position: absolute;
    display: inline-block;/*行内块  text-align 可以让行内块居中对齐*/
    right: 0px;
    top: 0px;
    width: 430px;
    height: 422px;
    background-color: #000;
    text-align: center;
    opacity: 0.7;/* opacity 对除IE浏览器以外所有浏览器生效 透明的:70% */
}

/*banner-C-信息*/
.banner-c{
    position: absolute;
    display: inline-block;/*行内块  text-align 可以让行内块居中对齐*/
    top: 442px;
    width: 1200px;
    height: 422px;
    background-color: #000;
    opacity: 0.7;/* opacity 对除IE浏览器以外所有浏览器生效 透明的:70% */
}